{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

    <h1>Esqueceu sua senha?</h1>
    <p>Insira seu e-mail e enviaremos um link para redefinir sua senha.</p>

    <div class="row">
        <div class="col-md-4">
            <form method="post" action="{{ url_for('forgot_password') }}">
                {{ form.csrf_token }}
                
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", placeholder="Digite seu e-mail") }}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary", id="entered-email") }}
                </div>

                <div class="form-group">
                    {{ form.link(class="btn btn-link", id="show-code-field") }}
                </div>
        
                <!-- Div que contém os campos que serão exibidos -->
                <div id="code-field" style="display:none;">
                    <div class="form-group">
                        {{ form.code.label }} {{ form.code(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.submit_code(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
            
        </div>
    </div>

    <script>
        // Adiciona um listener no botão para mostrar os campos extras
        document.getElementById("show-code-field").addEventListener("click", function() {
            event.preventDefault();
            var code_field = document.getElementById("code-field");
            if (code_field.style.display === "none") {
                code_field.style.display = "block";
                this.innerText = "";
            } else {
                code_field.style.display = "none";
                this.innerText = "";
            }
        });
        document.getElementById("entered-email").addEventListener("click", function() {
            var code_field = document.getElementById("code-field");
            var show_code_btn = document.getElementById("show-code-field");
            code_field.style.display = "block";
            show_code_btn.style.display = "none";
        });
    </script>

{% endblock %}