{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<title>BCD29008</title>

{% block navbar %}
    {#renderizar o menu no topo da página#}
    {{nav.menu.render() }}
{% endblock %}


{% block content %}
{% if type == 'admin' %}
<form method="POST" action="">
  <div class="container">
      <div class="col-md-3">
          {{ form.hidden_tag() }}
          <div class="form-group">
              {{ form.compartment.label(class="form-label") }}
              {{ form.compartment(class="form-control") }}
              {{ form.locker_name.label(class="form-label") }}
              {{ form.locker_name(class="form-control") }}
          </div>

          <div class="form-group">
              {{ form.submit(class="btn btn-primary") }}
          </div>
      </div>
  </div>
</form>
{% endif %}
    <div class="container">
    {% block app_content %}
    {% if compartment_in_use %}
    <h1>Compartment in Use</h1>
    <table style="width: 100%; text-align: center;" border="1">
      <thead>
        <tr>
          <th rowspan="2">User name</th>
          <th colspan="2">Stored Items Date</th>
          <th rowspan="2">Compartment Number</th>
          <th rowspan="2">Locker name</th>
        </tr>
        <tr>
          <th>Open Time</th>
          <th>Close Time</th>
        </tr>
      </thead>
      <tbody>
        {% if type == 'admin' %}
          {% for compartment in compartment_in_use %}
            <tr>
              <td>{{ compartment.user.name }}</td>
              <td>{{ compartment.open_time }}</td>
              <td>{{ compartment.close_time }}</td>
              <td>{{ compartment.compartments.number }}</td>
              <td>{{ compartment.compartments.locker.name }}</td>
            </tr>
          {% endfor %}
          {% elif type == 'comum' %}
          <tr>
            <td>{{ compartment_in_use.user.name }}</td>
            <td>{{ compartment_in_use.open_time }}</td>
            <td>{{ compartment_in_use.close_time }}</td>
            <td>{{ compartment_in_use.compartments.number }}</td>
            <td>{{ compartment_in_use.compartments.locker.name }}</td>
          </tr>
          {% endif %}
      </tbody>
    </table>
    {% else %}
    <p>No compartments in use.</p>
    {% endif %}
    
    <h1>Locker Schedule</h1>
    <table style="width: 100%; text-align: center;" border="1">
      <thead>
        <tr>
          <th rowspan="2">User name</th>
          <th colspan="2">Stored Items Date</th>
          <th colspan="2">Removed Items Date</th>
          <th rowspan="2">Compartment Number</th>
          <th rowspan="2">Locker name</th>
        </tr>
        <tr>
          <th>Open Time</th>
          <th>Close Time</th>
          <th>Retrieve Time</th>
          <th>End Retrieve Time</th>
        </tr>
      </thead>
      <tbody>
        {% for schedule in locker_schedules %}
        <tr>
          <td>{{ schedule.user.name }}</td>
          <td>{{ schedule.open_time }}</td>
          <td>{{ schedule.close_time }}</td>
          <td>{{ schedule.retrieve_time }}</td>
          <td>{{ schedule.end_retrieve_time }}</td>
          <td>{{ schedule.compartment.number }}</td>
          <td>{{ schedule.compartment.locker.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}

    </div>
{% endblock %}