{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

    <h1>Redefinição de Senha</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="{{ url_for('reset_password') }}">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.new_password) }}
                {{ wtf.form_field(form.confirm_password) }}
                {{ wtf.form_field(form.submit, class_='btn btn-primary') }}
            </form>
        </div>
    </div>

{% endblock %}